/*$ajat-color: #119EE6;*/
@font-face {
  font-family: 'manteka';
  src: url("../fonts/manteka.ttf") format("truetype");
}
@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa-Light.otf") format("opentype");
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Nexa Light', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 1.3em;
  text-transform: uppercase;
  /*font-weight: bold;*/
  color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #119EE6;
  background-color: inherit;
}

.intro-section::after {
  content: "";
  background:url(../img/BG_Home.png);
  /*opacity: 0.9;
  background: rgba(0, 0, 0, 0.5);*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.logo {
  width: 25%;
}
.header-text {
  display: block;
}
.typed {
    font-family: "manteka","Agency FB",monospace;
    display: inline-block;
    margin: 0;
    color: #FFF;
}
/*for cursor stay blinking*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 40px;
    margin: 0 10px;
    color: #FFF;
}
.author {
  font-size: 14px;
}
.intro-section .btn-round {
  margin-top: 10%;
}
.btn-round {
  border-radius: 50%;
}
.btn-transparent {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}
.btn-transparent:hover {
  color: #FFF;
}
/*.intro-section .container {
  height: 100%;
}*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
